# 旺店通旗舰版 API 凭证
# 从旺店通开放平台获取: https://open.wangdian.cn/qjb/open/abut
# appsecret 格式为 secret:salt，例如 7e68bb7e6e6af89d2583fe76d1b72e64:147742761929742579bc45892c99944e
# 冒号前为 secret，冒号后为 salt
WDT_SID=your_sid
WDT_KEY=your_appkey
WDT_SECRET=your_secret
WDT_SALT=your_salt
